.register{
    margin: 0 auto;
    width: 300px;
    background: #3d2c77;
    padding: 10px;
    margin-top: 50px;
    border: 1px solid black;
}

.register form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: black;
}
.register div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

}
.register .reg-btns {
    display: flex;
    justify-content: space-around;
}