body {
	background: #E0E0E0;
}
.addMovie{
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	align-items: center;
}
.addForm{
	display: flex;
	width: 50%;
	justify-content: space-between;
	padding-right: 5px;
}

.addForm form {
	padding: 20px 5px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.addForm form input {
	width: 200px;
	height: 16px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.addForm button {
	border: none;
	background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #9E9E9E;
    padding: 10px;
    background: #757575;
    color: white;
    
}

.addForm button:hover {
	background: #9E9E9E;
	box-shadow: 0 5px #757575;

}