.searchForm{
	display: flex;
	height: 36px;
	border-radius: 10px;
}
.searchForm input {
	border-radius: 10px 0 0 10px;
	width: 200px;
	font-size: 16px;
}
.searchForm button{
	width: 70px;
	border-radius: 0 10px 10px 0;
}
.searchForm button:hover {
	background: white;
}