*{
	padding: 0;
	margin: 0;
}
body{
	min-width: 320px;
}
h1{
	font-size: 50px;
	font-family: var(--main-font);
	text-transform: uppercase;
	position: relative;
	width: 500px;
	text-align: center;
}
h1::after{
	content: "";
    position: absolute;
    border: 1px solid #000000;
    top: 50%;
    margin-top: -1px;
    width: 100%;
    left: -2px;
}

p{
	font-family: var(--info-font);
	color: var(--info-color);
	font-size: var(--info-size);
}
.header{
	background: url(img/bg_1p.png) center no-repeat;
	height: 975px;
	
	/*background-size: 100%;*/
	margin-bottom: 160px;
}
nav{
	height: 62px;
	display: flex;
	background: rgba(0, 8, 12, 0.1);
	font-family: var(--main-font);
}
.nav_hamburger{
		display: none;
		flex-direction: column;
		background: url(img/hamburger.png) no-repeat;
		opacity: .4;
		background-size: 100%;
		width: 60px;
		height: 40px;
		position: absolute;
		top: 50px;
		right: 50px;
	}
.appear{
	display: none;
	position: absolute;
	top: 40px;
	 
}
.appear ul{
	list-style: none;
}
.appear li{
	padding: 5px 0;
}
.appear a{
	text-decoration: none;
	font-size: 17px;
	color: #606060;
	text-transform: uppercase;
}
.appear a:hover{
	color: black;
}
.nav_main{
	display: flex;
	list-style: none;
	margin: 0 auto;
	height: 100%;
}
.nav_main li{
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 22px 0px 22px;
}
.nav_main a{
	text-decoration: none;
	font-size: 17px;
	color: #606060;
	text-transform: uppercase;
}
.nav_main a:hover{
	color: #101211;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}
.discography{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}
.discography h1{
	color: #9a6545;
}
.description{
	padding-top: 50px;
	width: 36%;
	margin: 0 auto
}
.inside-content{
	display: flex;
	width: 60%;
	margin-top: 150px;
	font-family: var(--info-font);
	justify-content: center;
	flex-wrap: wrap;
	z-index: 10;
}

.inside-content span{
	position: relative;
	padding-bottom: 12px;
	color: #acacac;
	font-size: var(--info-size);
	font-weight: bold;
	margin-top: 20px;
}
.underline{
	width: 100%;
}

.inside-content h3{
	font-size: var(--info-size); 
	margin-top: 15px;
}
.inside-content h2{
	font-size: 23px;
	text-transform: uppercase;

}
.year{
	width: 41.666%;
	text-align: left;
	padding-right: 25px;
	padding-top: 20px;

}
.year-info{
	width: 55.833%;
	text-align: left;
}
.year-info p{
	padding-top: 25px;
	width: 100%;
}
 button{
	background: url(img/but-1.png);
	width: 196px;
	height: 56px;
	font-size: 23px;
	font-family: var(--info-font);
	cursor: pointer;
	margin-top: 45px;
	margin-left: 45px;
}
.play-on{
	background: url(img/but-2.png);
}
.play-but{
	background: url(img/but-3.png);
}
.bg{
	/*position: relative;*/
    bottom: 165px;
   	width: 100%;
    z-index: 0;
}
.bg img{
	width: 100%;
}